@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Nunito:ital,wght@1,200&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.title {
  font-size: 650%;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 25%;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
}
.subtitle {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 45%;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
}
h1 {
  margin: 0;
}
.spotifyButton {
  display: inline-flex;
  height: 50px;
  padding: 0;
  background: #19b558;
}
.blue {
  background: linear-gradient(
    90deg,
    rgba(254, 196, 0, 1) 38%,
    rgba(241, 255, 0, 1) 100%
  );
}

.red {
  background: rgb(26, 28, 36);
}

.yellow {
  background: rgb(238, 255, 0);
}

.orange {
  background: rgb(0, 0, 0);
}

.spacer {
  aspect-ratio: 900/600;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("./assets/Waves.svg");
}
.layer2 {
  background-image: url("./assets/Waves2.svg");
}
