@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Nunito:ital,wght@1,200&display=swap");

section {
  font-family: "Inter", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  padding: 100px 20vw;
}
.title {
  font-size: 250%;
  text-align: center;
  color: #fff;
}
.blue {
  background: linear-gradient(
    90deg,
    rgba(254, 196, 0, 1) 38%,
    rgba(241, 255, 0, 1) 100%
  );
}

.red {
  background: rgb(26, 28, 36);
}

.yellow {
  background: rgb(238, 255, 0);
}

.orange {
  background: rgb(0, 0, 0);
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("./assets/layered-waves-haikei2.svg");
}
.layer2 {
  background-image: url("./assets/layered-waves-haikei.svg");
}
